<div>
    <button (click)="logOut()" class="btn btn-danger">log Out</button>


    <h1>Welcom to Movie-App</h1>
    
    <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link active"  routerLink="home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="add-movies">Add Movies</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="view-movies">View Movies</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="search-movies">Search Movies By Category</a>
        </li>
          <!-- <li class="nav-item">
            <a class="nav-link" routerLink="search-rating">Search Movies By Rating</a>
          </li> -->

       
      </ul>
      
</div>
