<br>
<div class="container">
    <form (submit)="loginUser(userForm.value)" #userForm="ngForm"> 
    <div class="form-group">
        <label htmlFor="username">Username</label>
        <input type="text" name='username'ngModel placeholder="UserName" class="form-control">
    </div>
    <div class="form-group">
        <label htmlFor="password">Username</label>
        <input type="password" name='password'ngModel placeholder="Passsword" class="form-control">
    </div><br>
    <button class="btn btn-dark" type="submit">sign In</button>
</form>
</div>

