.header{
    background-color: rgb(236, 211, 175);
    height: 120px;

}
.main{
    text-align: left;
    min-height: 400px;
    max-height: fit-content;
}
.footer{
    background-color: black;
    color: white;
    height: 100px;
    text-align: center;
}
.refresh{
    float: right;
    margin: 10px;
}