<div class="container">
    <form (submit)="saveData(movieForm.value)" #movieForm="ngForm">
        <div class="form-group">
            <label>Movie Name</label>
            <input ngModel required type='text' pattern="[a-zA-Z0-9\s]+" class="form-control" name="movieName"
                id="movieName" #t_movieName="ngModel" [class.is-invalid]="t_movieName.touched && t_movieName.invalid"
                [class.is-valid]="t_movieName.valid">
            <p *ngIf="t_movieName.invalid && t_movieName.touched" class="text-danger">
                <small *ngIf="t_genre.errors?.['required']">Movie Name is required!!</small>
                <small *ngIf="t_movieName.errors?.['pattern']">Movie Name should be only alphanumeric</small>

            </p>
        </div>
        <div class="form-group">
            <label>Give Rating</label>
            <input ngModel required type='text' pattern="^[0-5.0-9]+" class="form-control" name="rating" id="rating"
                #t_rating="ngModel" [class.is-invalid]="t_rating.touched && t_rating.invalid"
                [class.is-valid]="t_rating.valid">
            <p *ngIf="t_rating.invalid && t_rating.touched" class="text-danger">
                <small *ngIf="t_genre.errors?.['required']">Movie Rating is required!!</small>
                <small *ngIf="t_rating.errors?.['pattern']">Rating needs to be a number. eg : 2.5 .Rating is of scale
                    1-5</small>
            </p>
        </div><br>
        <div>
            <label for="genre" class="col-md-4">Select Genre </label>
            <select class='col-md-2' #t_genre="ngModel" required="" name="genre" id="genre" ngModel>
                <option value="drama" selected>Drama</option>
                <option value="fiction" selected>Fiction</option>
                <option value="satire" selected>Satire</option>
            </select>
            <p *ngIf=" t_genre.touched && t_genre.invalid" class="text-danger">
                <small *ngIf="t_genre.errors?.['required']">Select Genre!!</small>
            </p>
        </div><br>
        <button [disabled]="movieForm.invalid" type="submit" class="btn btn-primary">Add Movie</button>
    </form>

</div>